@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&  display=swap");

*{
    box-sizing:border-box;
    font-family: 'Poppins',sans-serif;

}
body{
    width:100%;
    background-color: #0A0E1A;
    color:#7950F2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    float: none;

}
.header{
    margin-top:10px;
    position:sticky;
    top: 0;
    width:95%;
    margin-right: 2px;
    display : flex;
    justify-content: space-between;
    font-family: 'Poppins',sans-serif;
    font-size:25px;
    margin-bottom: 10px;
    min-height:60px;
     border: 5px solid transparent;


}

h1{
     margin-left:10%;
}
.logo{
 font-size:25px;
    color:#7950F2;
    text-decoration:none;
    margin-left:35px;
}
.navbar>a{
    margin-right:5px;
    color:#7950F2;
    text-decoration:none;
    padding-left:10px;
    padding-right:10px;
    padding-top:5px;

}
.home{
    display:flex;
    justify-content: space-between;
    padding:10px;
    margin:10%;

}
.home-content{
width:50%;

}

@keyframes color-change {
    0% {
      border-color: #7950F2;
    }
    33% {
      border-color: blue;
    }
    66% {
      border-color:white;
    }
    100% {
      border-color: #7950F2;
    }
  }

#git{
    margin-left:2px;
}

.image{
    align-self: center;
}

#img-My{
    border-radius: 10px;
}


h1{
    font-size:45px;
    color:white;
    font-family: 'Poppins',sans-serif;
}

#about-h3{
   font-size:30px;
}
h3{


}
.About-Me{
    width:90%;
    margin:auto;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;


}
.Happy-Human-Project{
    width:70%;
    border:1px solid #7950F2;
   padding-left:5px;
    padding-right:5px;
    align-self: center;
    text-align: center;
    border-radius: 10px;
    animation: color-change 3s infinite;

}
#hhp-pic{
    width:50%;
    margin:10px;

}

.awards{
    width:70%;
 border:1px solid #7950F2;
   padding-left:5px;
    padding-right:5px;
    align-self: center;
    text-align: center;
    border-radius: 10px;
    animation: color-change 3s infinite;
    margin-top: 100px;
}
article{
    display:flex;
    flex-direction: column;
    align-items: center;
}
footer{
    text-align:center;
    margin:20px;


}

@media only screen and (max-width:1000px) {
    .header {
        visibility: hidden;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        float:none;


    }




}


